body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 15px;
}

.entry {
  list-style-type: none;
  height: 30vh;
  width: 10vw;
  margin: .3rem;
  padding: .5em;
  border: 1px solid white;
  border-radius: 5%;
  background-color: white;
}

.cardContent {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .1em;
  border-radius: 4%;
  padding: 1px 10px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  font-size: .5vw;
}

.footprint {
  justify-content: flex-start;
}

.region {
  justify-content: center;
}

.pokeID {
  justify-content: flex-end;
}

.sprite {
  flex-grow: 1;
  padding-top: 2rem;
}
.stats {
  flex-grow: 1;
  max-width: 100%;
  font-size: .6vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardFooter {
  display: inherit
}

.loading {
  margin: 0 auto;
}